page-home {
  .vertical-align-content > *
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }
  .steps-count{
    font-size: 5em;
    color: green;
    height: 100%;
    display: block;
    vertical-align: middle;
  }
}
