<ion-header>
  <ion-navbar>
    <ion-title>
      Step Count
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="vertical-align-content">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 text-center>{{msg}}</h2>
        <div *ngIf="supported" class="steps-count" text-center>{{steps}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
